body{padding: 0; margin: 0; font-family: '微软雅黑','Microsoft Yahei';}

.master-page{padding: 0; margin: 0; background-color: #EFF3F4;}

.header{height:38px; border-bottom: 1px solid #888; background-color: #2B2B30; font-weight: bold; font-size:14px; padding:8px 0;}
.header .logo{width:165px; float:left; color:#fff; text-align: center;}
.header .header-menu{float:right; padding-right:50px;}
.header .header-menu > ul{padding:0; margin:0;}
.header .header-menu > ul > li{float:left; list-style-type: none;}
.header .header-menu > ul > li:not(:first-child){margin-left:30px;}
.header .header-menu > ul > li > a{color:#fff; text-decoration: none;}

.menu{background-color: #2B2B30;}
.menu > ul{padding:0; margin:0;}
.menu > ul > li{list-style-type: none; padding:5px;}
.menu > ul > li > a{color:#fff; text-decoration: none; font-weight: bold;}

.main{background-color: #fff;}

.footer{height:38px; border-top: 1px solid #888; background-color: #2B2B30; font-weight: bold; font-size:16px; padding:8px 20px; color:#fff;}

.loading-page{}
